html,body{
  height: 100%;
}
.detail-page__wrapper{
  overflow: scroll-y;
  background: linear-gradient(#3468ff, #ffffff);
  height: 100%;
  padding: 20px 25px;
  box-sizing: border-box;
}
.detail-page{
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px 0 10px;
  &__title{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  &__subtitle{
    text-align: center;
    color: #999;
    font-size: 12px;
    margin-top: 6px;
  }
  &__cells{
    margin-top: 12px;
    & .van-icon-info-o{
      color: #3468ff;
    }
  }
  & .van-cell__value{
    color: #333;
  }
  & .van-cell__title{
    color: #999;
  }
  & .van-collapse-item__content{
    padding: 0;
    padding-left: 10px;
  }
  &__dialog-content{
    padding: 12px 20px;
    color: #333;
    font-size: 14px;
    &-tips{
      margin-top: 14px;
      font-size: 12px;
      &-highlight{
        color: #3468ff;
      }
    }
  }
}