html,body{
  height: 100%;
}
.detail-page__wrapper{
  overflow: scroll-y;
  background: linear-gradient(#3468ff, #ffffff);
  height: 100%;
  padding: 20px 25px;
  box-sizing: border-box;
}
.detail-page{
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px 0 10px;
  &__title{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  &__subtitle{
    text-align: center;
    color: #999;
    font-size: 12px;
    margin-top: 6px;
  }
  &__cells{
    margin-top: 12px;
    &-title{
      color: #999;
      font-size: 14px;
    }
    &-value{
      font-size: 14px;
      color: #333 !important;
    }
  }
}